*{
    margin: 0;
    padding: 0;
    border: 0;
    color: aliceblue;
    
}

.full-screen{
    height: 100vh;
}

h1,h2,h3,h4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-color:rgb(36, 36, 36);
    padding: 10px;
    width:100%;
}

#description{
    background-color:grey;
}

#visualizer{
    background-color:darkgrey;
}

.code{
    background-color: azure;
    border-left: 5px solid green;
    min-width: 50%;
}

code{
    color: black;
}

#numbers{
    margin-top: 10%;
}

#numbers p{
    border: 2px solid black;
    padding: 10px;
    background-color:aquamarine;
    color: black;
}

.first{
    margin-left: 10%;
}